# Ignore Python cache
__pycache__/
*.pyc
.mypy_cache/

# Ignore virtual environments
venv/
.env/
.env.*

# Ignore system files
.DS_Store

# VSCode — ignore everything except our files
.vscode/*
!.vscode/settings.json
!.vscode/settings-python.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
